.m_board {
    margin-top: 7rem;
}

@media (min-width: 300px) {
    .m_board {
        margin-top: 5rem;
    }
}

.m_list img {
    border-radius: 2rem;
}
.m_post img {
    border-radius: 2rem;
    margin-top: 1rem;
}
