.m_editor {
    margin-top: 0.5rem;
}
.m_comment button {
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background-color: #f7f7f7;
	text-decoration: none;
	color: #484848;
    margin: 0 0.5rem;
    display: inline-block;
    text-align: center;
    width: 2rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.m_comment button:hover {
    color: steelblue;
}

.m_comment button:active {
	border-radius: 999rem;
	color: white;
    font-weight: bold;
    background: steelblue;
}

.color-picker-wrapper {
    display: inline-block;
}
.color-picker-wrapper:hover button {
    color: steelblue;
}
.color-picker-wrapper:active button {
    border-radius: 999rem;
	color: white;
    font-weight: bold;
    background: steelblue;
}
input[type="color"] {
    cursor: pointer;
	opacity: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
	border: none;
}
.m_editor a {
    cursor: pointer;
}