.m_signInForm {
    opacity: 0;
    transition: opacity 0.5s linear;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.m_signInForm .checkbox {
    font-weight: 10rem;
}
.form-control {
    border-radius: 1rem;
}
.m_signInForm .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.m_signInForm .form-control:focus {
    z-index: 2;
}

.m_signInForm div:not(.checkbox):not(#m_alert):not(.alert) {
    margin-bottom: -1px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #ffdcab;
}
.m_signInForm input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}